{% extends "layout.html" %}
{% block content %}
  <h1>New Credit Card</h1>

  <br />

  <form method="POST">
    <div class="form-group row">
      <label for="cc_number" class="col-2">Card Number</label>
      <input type="text" name="cc_number" id="cc_number" class="form-control col-4">
    </div>

    <div class="form-group row">
      <label for="cc_code" class="col-2">CVC</label>
      <input type="text" name="cc_code" id="cc_code" class="form-control col-4">
    </div>

    <div class="form-group row">
      <label for="cc_owner" class="col-2">Owner Name</label>
      <input type="text" name="cc_owner" id="cc_owner" class="form-control col-4">
    </div>
    
    <div class="form-group row">
      <label for="cc_type" class="col-2">Type</label>
      <input type="text" name="cc_type" id="cc_type" class="form-control col-4">
    </div>
    
    <div class="form-group row">
      <label for="cc_zip" class="col-2">ZIP Code</label>
      <input type="text" name="cc_zip" id="cc_zip" class="form-control col-4">
    </div>
    
    <div class="form-group row">
      <label for="cc_date" class="col-2">Date (MM/YYYY)</label>
      <input type="text" name="cc_date" id="cc_date" class="form-control col-4">
    </div>
    
    <button type="submit" class="btn btn-primary">Add Credit Card</button>
  </form>
{% endblock %}
