{% extends "layout.html" %}
{% block content %}
  <h1>Profile Information</h1>
  
  <br />

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Name:</th>
        <td>{{ user['FName'] }} {{ user['LName'] }}</td>
      </tr>
      <tr>
        <th scope="row">Email:</th>
        <td>{{ user['Email'] }}</td>
      </tr>
      <tr>
        <th scope="row">Phone:</th>
        <td>{{ user['Phone'] }}</td>
      </tr>
      <tr>
        <th scope="row">Class:</th>
        <td>{{ user['Status'] }}</td>
      </tr>
    </tbody>
  </table>

  <br />

  <a class="btn btn-success" href="/basket" role="button">Cart</a>
  <a class="btn btn-primary" href="/orders" role="button">Past Orders</a>
  <a class="btn btn-primary" href="/profile/addresses" role="button">Manage Shipping Addresses</a>
  <a class="btn btn-primary" href="/profile/cards" role="button">Manage Credit Cards</a>
  <a class="btn btn-warning" href="/profile/update" role="button">Update Profile</a>
  <a class="btn btn-danger" href="/profile/delete" role="button">Delete Profile</a>
{% endblock %}
