{% extends "layout.html" %}
{% block content %}
  <h1>Most Frequently Sold Products</h1>

  <br />
  
  <form method="GET" class="form-inline">
    <input type="text" name="start_time" class="form-control col-3" placeholder="DD/MM/YYYY HH:MM:SS AM" value="{{ start_time }}">
    &nbsp;
    to
    &nbsp;
    <input type="text" name="end_time" class="form-control col-3" placeholder="DD/MM/YYYY HH:MM:SS AM" value="{{ end_time }}">
    &nbsp;
    <button type="submit" class="btn btn-primary">Query by Time Period</button>
  </form>

  <br />

  {% if prods %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item Name</th>
          <th scope="col">Average Selling Price</th>
        </tr>
      </thead>
      <tbody>
        {% for prod in prods %}
          <tr>
            <td><a href="/products/{{ prod.PID }}">{{ prod.PName }}</a></td>
            <td>${{ prod.AvgPrice }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Sorry, no products could be found in that timeframe.</p>
  {% endif %}
{% endblock %}
