{% extends "layout.html" %}
{% block content %}
  <h1>10 Best Customers by Money Spent</h1>

  <br />
  
  <form method="GET" class="form-inline">
    <input type="text" name="start_time" class="form-control col-3" placeholder="DD/MM/YYYY HH:MM:SS AM" value="{{ start_time }}">
    &nbsp;
    to
    &nbsp;
    <input type="text" name="end_time" class="form-control col-3" placeholder="DD/MM/YYYY HH:MM:SS AM" value="{{ end_time }}">
    &nbsp;
    <button type="submit" class="btn btn-primary">Query by Time Period</button>
  </form>

  <br />

  {% if custs %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item Name</th>
          <th scope="col">Quantity Sold</th>
        </tr>
      </thead>
      <tbody>
        {% for cust in custs %}
          <tr>
            <td>{{ cust.FName }} {{ cust.LName }}</td>
            <td>${{ cust.TotalPrice }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Sorry, ...</p>
  {% endif %}
{% endblock %}
